html, body {
  margin: 0px;
  background-color: #003559;
  color: white;
}

.title {
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 25px;
}

.naipe {
  position: relative;
  width: 150px;
  left: 100px;
  margin-left: -75px;
}

.winLose {

  position: center;
  width: 150px;
  

}

#pcNaipes, #playerNaipes {
  min-height: 180px;
}